<%- include('./master/header',{param:'normal2',subtitle:'THE BRAND',subtitle2:'company solgan goes here'}); -%>

    <div class="content">
        <div class="col">

            <img src="images/brand/REPLACE.png" alt="">
            <img src="images/brand/REPLACE copy 2.png" alt="">
            <h2>Our values, vision and strategy</h2>
            <h3>the above image would be a great place for an advertising video</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, itaque sapiente accusamus amet
                officiis voluptates autem natus exercitationem quo dolorum eaque similique harum totam magnam alias
                tenetur, numquam blanditiis? Provident?</p>
        </div>
        <div class="col">
            <h2>Hand designed clothing</h2>

            <h3>established in 2013, avenue fashion sed dictum elit vel sapien luctus eras</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sunt, totam consectetur ut quae,
                officiis cum, assumenda quod est culpa obcaecati error exercitationem sapiente ipsam fuga vitae et
                cumque qui.</p>
            <img src="images/brand/REPLACE copy.png" alt="">
            <h2>Ethical trading </h2>

            <h3>established in 2013, avenue fashion sed dictum elit vel sapien luctus eras</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sunt, totam consectetur ut quae,
                officiis cum, assumenda quod est culpa obcaecati error exercitationem sapiente ipsam fuga vitae et
                cumque qui.</p>
            <div class="awards">
                <img src="images/brand/REPLACE copy 3.png" alt="" srcset="">
                <img src="images/brand/REPLACE copy 4.png" alt="" srcset="">
                <img src="images/brand/REPLACE copy 5.png" alt="" srcset="">
            </div>
        </div>
    </div>
    <%- include('./master/footer'); -%>