<%- include('./master/header',{param:"normal"}); -%>
  <hr class="line">
  <div class="content">

    <div class="tab">
      <div class="tab-menu">
        <div class="tab-menu-item">
          <a href="#">Popular</a>
        </div>
        <div class="tab-menu-item">
          <a href="#">New Arrivals</a>
        </div>
        <div class="tab-menu-item">
          <a href="#">Best Sellers</a>
        </div>
        <div class="tab-menu-item">
          <a href="#">Special Offers</a>
        </div>
        <div class="tab-menu-item">
          <a href="#">Coming Soon</a>
        </div>
      </div>
      <div class="tab-content">


        <div class="row">
          <div class="item1">
            <div class="price"></div>
            <div class="image">
              <img src="images/photo.png" alt="" srcset="">
            </div>

          </div>
          <div class="item2">
            <div class="price"></div>
            <div class="image">
              <img src="images/photo2.png" alt="" srcset="">
            </div>

          </div>
          <div class="item3">
            <div class="price"></div>
            <div class="image">
              <img src="images/photo3.png" alt="" srcset="">
            </div>

          </div>
          <div class="item4">
            <div class="price"></div>
            <div class="image">
              <img src="images/photo4.png" alt="" srcset="">
            </div>

          </div>
          <div class="item5">
            <div class="price"></div>
            <div class="image">
              <img src="images/photo5.png" alt="" srcset="">
            </div>

          </div>
          <div class="item6">
            <div class="price"></div>
            <div class="image">
              <img src="images/photo6.png" alt="" srcset="">
            </div>

          </div>
        </div>


      </div>

    </div>

    <div class="lookbook">
      <div class="lookbook-item">
        <div class="caption">
          <h2><strong>Men's<br>Lookbook</strong></h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nulla, dolores ipsam? </p>
          <div>
            <a href="#" class="link">View Now</a>
          </div>
        </div>
        <img src="images/REPLACE.png" alt="">


      </div>
      <div class="lookbook-item">
        <div class="caption">
          <h2><strong>Women's<br>Lookbook</strong></h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nulla, dolores ipsam? </p>
          <div>
            <a href="#" class="link">View Now</a>
          </div>
        </div>
        <img src="images/REPLACE2.png" alt="">


      </div>

      <div class="lookbook-item">
        <div class="caption">
          <h2><strong>Your<br>Lookbook</strong></h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nulla, dolores ipsam? </p>
          <div>
            <a href="#" class="link">View Now</a>
          </div>
        </div>
        <img src="images/REPLACE3.png" alt="">


      </div>

    </div>

  </div>
  <%- include('./master/footer'); -%>