<%- include('./master/header',{param:'normal2',subtitle:'<b>LOCAL</b> STORES',subtitle2:'Find a store near you'}); -%>


<div class="content">
    <div class="col">
        <h2>London</h2>
        <h3>180-182 Regent street, london, w1b 5bt</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, itaque sapiente accusamus amet
            officiis voluptates autem natus exercitationem quo dolorum eaque similique harum totam magnam alias
            tenetur, numquam blanditiis? Provident?</p>
        <div class="nav"><a href="#" class="link">View Details</a></div>
    </div>
    <div class="col">
        <h2>New york</h2>

        <h3>109 columbus circle, new york, ny 10023</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sunt, totam consectetur ut quae,
            officiis cum, assumenda quod est culpa obcaecati error exercitationem sapiente ipsam fuga vitae et
            cumque qui.</p>
        <div class="nav"><a href="#" class="link">View Details</a></div>
    </div>
    <div class="col">
        <div class="title">
            <h2>Paris</h2>
        </div>
        <div class="sub-title">
            <h3>109 columbus circle, new york, ny 10023</h3>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus sunt, totam consectetur ut quae,
                officiis cum, assumenda quod est culpa obcaecati error exercitationem sapiente ipsam fuga vitae
                et
                cumque qui.</p>
        </div>
        <div class="nav">
            <a href="#" class="link">View Details</a>
        </div>
    </div>
</div>
<div class="content2">
    <div class="col">
        <img src="images/map.png" alt="" srcset="">
    </div>
    <div class="col">
        <h2>London</h2>
        <h3>180-182 Regent street, london, w1b 5bt</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, itaque sapiente accusamus amet
            officiis voluptates autem natus exercitationem quo dolorum eaque similique harum totam magnam alias
            tenetur, numquam blanditiis? Provident?</p>

        <ul>
            <li><i class="fa-solid fa-location-dot"></i>180-182 Regent Street, London, w1B 5BT</li>
            <li><i class="fa-solid fa-phone"></i>0123-456-789</li>
            <li><i class="fa-solid fa-link"></i>wwww.yourwebsite.com</li>
            <li><i class="fa-solid fa-envelope"></i>support@yourwebsite.com</li>
            <li><i class="fa-solid fa-clock"></i>Monday-Friday:9am to 6pm Saturday: 10am to 6pm Sunday: 10am to
                2pm</li>
        </ul>

        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-pinterest"></i>
        </div>

    </div>
</div>


<%- include('./master/footer'); -%>