<%- include('./master/header',{param:'normal2',subtitle:'<b>OUR</b> LOOKBOOK',subtitle2:'LATEST POSTS - MENS & WOMENS'}); -%>
<hr class="line">
<div class="content lookbook">

    <div class="tab">
        <div class="tab-menu">
            <div class="tab-menu-item">
                <a href="#">Latest</a>
            </div>
            <div class="tab-menu-item">
                <a href="#">Most Liked</a>
            </div>
            <div class="tab-menu-item">
                <a href="#">Best Sellers</a>
            </div>
            <div class="tab-menu-item">
                <a href="#">Price low to high</a>
            </div>
            <div class="tab-menu-item">
                <a href="#">Price high to low</a>
            </div>
        </div>
        <div class="tab-content">


            <div class="row">
                <div class="item1">
                    <div class="size">REF M1</div>
                    <div class="icons">
                        <i class="fa-solid fa-circle-info"></i>
                        <i class="fa-brands fa-gratipay"></i>
                    </div>
                    <div class="image">
                        <img src="images/lookbook/photo.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item2">
                    <div class="size">REF W1</div>
                    <div class="image">
                        <img src="images/lookbook/photo2.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item3">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/REPLACE.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item4">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/photo3.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item5">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/photo4.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item6">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/photo5.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item7">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/photo6.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item8">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/REPLACE2.png" alt="" srcset="">
                    </div>

                </div>
                <div class="item9">
                    <div class="size"></div>
                    <div class="image">
                        <img src="images/lookbook/photo7.png" alt="" srcset="">
                    </div>

                </div>
            </div>


        </div>

    </div>

    <div class="lookbook">
        <div class="lookbook-item">
            <div class="caption">
                <h2><strong>Men's<br>Lookbook</strong></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nulla, dolores ipsam? </p>
                <div>
                    <a href="#" class="link">View Now</a>
                </div>
            </div>
            <img src="images/REPLACE.png" alt="">


        </div>
        <div class="lookbook-item">
            <div class="caption">
                <h2><strong>Women's<br>Lookbook</strong></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nulla, dolores ipsam? </p>
                <div>
                    <a href="#" class="link">View Now</a>
                </div>
            </div>
            <img src="images/REPLACE2.png" alt="">


        </div>

        <div class="lookbook-item">
            <div class="caption">
                <h2><strong>Your<br>Lookbook</strong></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Nulla, dolores ipsam? </p>
                <div>
                    <a href="#" class="link">View Now</a>
                </div>
            </div>
            <img src="images/REPLACE3.png" alt="">


        </div>

    </div>

</div>


<%- include('./master/footer'); -%>