<%- include('./master/header',{ param: 'normal2' , subtitle: '<b>Product</b> View' ,
    subtitle2: 'Mens - casuals- hoodies & sweeatshirts - <span class="color1">Ave classic sweatshirt</span>' }); %>

    <div class="product-view">
        <div class="product-head">
            <div class="product-gallery">
                <img src="images/products/default.png" alt="">
            </div>
            <div class="details">
                <h2 class="product-title">AVE classic sweatshirt</h2>
                <div class="social">
                    <div class="rating">

                    </div>
                    <div class="sharing">

                    </div>
                </div>
                <div class="amount">
                    <div class="title">
                        Availability:
                    </div>
                    <div class="value">
                        In stock
                    </div>
                </div>
                <div class="product-code">
                    <div class="title">
                        Product Code:
                    </div>
                    <div class="value">
                        #499577
                    </div>
                </div>
                <div class="tags">
                    <div class="title">
                        TAGS:
                    </div>
                    <div class="value">
                        <ul>
                            <li><a href="#">Classic</a></li>
                            <li><a href="#">Casual</a></li>
                            <li><a href="#">V-neck</a></li>
                            <li><a href="#">Classic</a></li>
                        </ul>
                    </div>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam illum rem eveniet,
                        voluptatibus ipsum dolores atque? Iusto totam iure quisquam voluptas modi laudantium rem
                        natus velit illum, eaque eveniet illo.</p>
                    <ul>
                        <li>Elasticated cliffs</li>
                        <li>Casual fit</li>
                        <li>100% Cotton</li>
                        <li>Free shipping with 4 days delivery</li>
                    </ul>
                </div>

                <div class="selector">
                    <div class="color-selector">
                        <label for="product-color">Colour</label>
                        <select name="product-color" id="product-color">
                            <option value="">Select Colour</option>
                        </select>
                    </div>
                    <div class="size-selector">
                        <label for="product-size">Colour</label>
                        <select name="product-size" id="product-size">
                            <option value="">Select Colour</option>
                        </select>
                    </div>
                </div>
                <div class="actions">
                    <button type="submit" class="link">Add to cart</button>
                    <button type="submit" class="link">Add to Lookboook</button>
                </div>
                <a href="#">Add to compare</a>
            </div>


        </div>


        <div class="tab">
            <div class="tab-menu">
                <div class="tab-menu-item"><a href="#">Description</a></div>
                <div class="tab-menu-item"><a href="#">video</a></div>
                <div class="tab-menu-item"><a href="#">Size&Specs</a></div>
                <div class="tab-menu-item"><a href="#">Delivery&returns</a></div>
                <div class="tab-menu-item"><a href="#">Reviews</a></div>
            </div>

            <div class="tab-content">

                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi autem sit ill</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque earum aliquid ipsam porro,
                    incidunt, nam eos necessitatibus similique nihil quibusdam maiores autem unde et neque
                    dolorem perspiciatis id, repellat pariatur.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae amet ipsa sint, saepe
                    dolores veniam dignissimos aliquid unde alias ut architecto est assumenda, incidunt at dolor
                    aperiam debitis aut eius!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus iure consectetur modi
                    aspernatur, ea quas ipsam? Voluptatem nemo sequi itaque qui explicabo sapiente nulla quos?
                    Quia consequuntur officia odit qui.</p>

            </div>
        </div>

    </div>
    <%- include('./master/footer'); -%>