$primary-color: #333333;
$primary-link-color: #858585;
$primary-link-color2: #bebbbb;
$primary-color2: #575153;

$secondary-color: #00c8c8;
$white: #fff;
body {
    margin: 0;
    font-family: "Roboto";
}
.container {
    margin: 0 auto;
}
.link {
    border: 3px solid $primary-color;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: $primary-color2;
    text-decoration: none;
    letter-spacing: 0.3rem;
}
.link:hover {
    color: $secondary-color;
    border-color: $secondary-color;
}
.line {
    margin: 2rem;
    margin-bottom: 0;
    color: $primary-color;
}
.navbar:first-child {
    display: flex;
    background-color: $primary-color;
    justify-content: space-evenly;

    color: red;
    a {
        color: $primary-link-color;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        color: $white;
    }
    .currency {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .nav-items {
        display: flex;
        gap: 2rem;

        .nav-item {
            padding: 1rem;
        }
        .basket {
            padding: 1rem;
            background-color: $secondary-color;
            a {
                color: $white;
            }
        }
    }
}

.header {
    background: linear-gradient(0deg, rgba(53, 50, 52, 0.521), rgba(32, 30, 31, 0.568)),
        url(images//brand/header_brand.png);
    background-size: cover;

    background-position-y: 5rem;
    background-repeat: no-repeat;

    height: 510px;

    .navbar-light {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .brand {
            padding-right: 10rem;
            h2 {
                font-weight: 400;
                b {
                    font-weight: 900;
                }
            }
        }
        .nav-item {
            padding: 1rem;

            a {
                color: $primary-color;
                font-weight: bolder;
                text-decoration: none;

                i {
                    padding-left: 0.5rem;
                }
            }

            /* a::before{
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f007";
            }*/
            a:not(.dropdown a) {
                text-transform: uppercase;
            }
            a:hover {
                color: $secondary-color;
                ~ .dropdown {
                    display: block;
                }
            }

            .dropdown {
                display: none;
                position: absolute;
                background-color: $white;
                padding: 2rem;
                box-shadow: 10px 10px 15px #888;

                .tabs {
                    display: flex;
                    justify-content: space-between;
                    ul {
                        padding-inline-start: 0;

                        li {
                            list-style-type: none;

                            margin-block-start: 0;
                            padding-top: 0.7rem;
                            a {
                                font-weight: 400;
                            }
                        }
                    }
                }
                .discount {
                    h2 {
                        font-size: 2rem;
                        text-transform: uppercase;
                    }
                    background-color: $primary-color;
                    color: $white;
                    padding: 1rem;
                }
            }
        }

        .search {
            input[type="text"] {
                border: 1px solid $primary-link-color2;
                color: $primary-color2;
                height: 1.2rem;
            }
            button {
                border: none;
                background-color: transparent;
                color: $primary-color2;
                position: relative;
                left: -2rem;
                i {
                    color: $primary-link-color2;
                }
            }
        }
    }

    .brand-title {
        display: flex;
        font-size: 20rem;
        font-weight: bold;
        justify-content: space-around;
        color: #3333336b;
    }
    .brand-slogan {
        text-align: center;
        position: relative;
        top: -18rem;
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 3rem;
        }
        h2,
        h1 {
            color: $white;
        }
    }
}

.tab {
    .tab-menu {
        display: flex;
        gap: 1rem;
        padding: 2rem;
        .tab-menu-item {
            a {
                text-decoration: none;
                font-weight: bolder;
                text-transform: uppercase;
                color: $primary-color2;
            }
            a:hover {
                color: $secondary-color;
            }
        }
    }
    .tsab-content {
        .rsow {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            flex-direction: row;
            gap: 10px 10px;
            /*display: grid;
            gap: 10px 10px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            
           /* grid-template-areas:
                "item1 item1 item2 item2 item3 item3 item3 item3"
                "item1 item1 item2 item2 item3 item3 item3 item3"
                "item1 item1 item2 item2 item3 item3 item3 item3"
                "item4 item4 item4 item4 item3 item3 item3 item3"
                "item4 item4 item4 item4 item5 item5 item6 item6"
                "item4 item4 item4 item4 item5 item5 item6 item6"
                "item4 item4 item4 item4 item5 item5 item6 item6";*/

            grid-template-areas:
                "item1 item2 item3 item3"
                "item1 item2 item3 item3"
                "item4 item4 item3 item3"
                "item4 item4 item5 item6"
                "item4 item4 item5 item6";
        }
        .item1 {
            grid-area: item1;
            background-color: red;
        }
        .item2 {
            grid-area: item2;
            background-color: blue;
        }
        .item3 {
            grid-area: item3;
            background-color: #00c8c8;
        }
        .item4 {
            grid-area: item4;
            background-color: green;

            /*
            position relative;
            top: -12.7rem;*/
        }
        .item5 {
            grid-area: item5;
            background-color: orange;
        }
        .item6 {
            grid-area: item6;
            background-color: purple;
        }
    }
}
/* GRID VIEW to loookboook*/
.content {
    .tab-content {
        .row {
            display: grid;
            gap: 10px;
            grid-template-areas:
                "item1 item2 item3 item3"
                "item4 item5 item6 item7"
                "item8 item8 item8 item9";

            div[class*="item"] {
                box-shadow: 0;
                div.size,div.icons{
                   display: none;
                  
                }

                .icons{
                    
                    background-color: #bebbbb8e;
                    padding: 2rem;
                    
                    i{
                        font-size: 2rem;
                        color: $primary-color2;
                        padding-left: 1rem;
                    }
                    i:hover{
                        color: $secondary-color;
                    }
                    
                   
                     
                    
                    

                }
                img{
                    
                }
                
            }
            div[class*="item"]:hover {
               
                .size{
                    display: block;
                    position: absolute;
                    z-index: 99;
                    color: $primary-link-color;
                   
                }
                .icons{
                    
                    
                    i{

                    }
                    display: block;
                    
                    position: absolute;
                    bottom:100px;
                    
                    z-index: 99;
                    
                }
                img{
                    transition: box-shadow 0.3s ease-in-out;
                    transition: transform 0.3s ease-in-out;
                }
                img {
                    box-shadow: 1px 1px 5px #888;
                    transform: scale(1.05, 1.05);
                }
            }
        }
        .item1 {
            grid-area: item1;
        }
        .item2 {
            grid-area: item2;
        }
        .item3 {
            grid-area: item3;
        }
        .item4 {
            grid-area: item4;
        }
        .item5 {
            grid-area: item5;
        }

        .item6 {
            grid-area: item6;
        }

        .item7 {
            grid-area: item7;
        }

        .item8 {
            grid-area: item8;
        }
        .item9 {
            grid-area: item9;
        }
    }
}
.lookbook {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .lookbook-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .caption {
            display: flex;
            flex-direction: column;

            gap: 1rem;
            position: absolute;
            text-align: right;
            padding: 1rem;
            h2 {
                font-size: 2rem;
                text-transform: uppercase;
                color: $primary-color2;
            }

            .link:hover {
                background-color: $secondary-color;
                color: $white;
            }
        }
    }
}

.footer {
    .tabs {
        display: flex;
        justify-content: space-evenly;
        .tab {
            h3 {
                color: $primary-color;
            }
            ul {
                list-style-type: none;
                padding-inline-start: 0;
                li {
                    font-size: 1.2rem;
                    padding-top: 0.7rem;
                    a {
                        text-decoration: none;
                        color: $primary-color2;
                    }
                    a:hover {
                        color: $secondary-color;
                        text-decoration: underline;
                        text-underline-offset: 10px;
                    }
                }
            }
        }
    }
    .social {
        display: flex;
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;
        .tab {
            display: flex;
            align-items: center;
            background-color: $primary-color;
            color: $white;
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 2rem;
            text-align: center;
            width: 50%;
            justify-content: center;
        }
        .tab:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
            width: 50%;
            background-color: $secondary-color;
            color: $white;
            font-size: 4rem;
            text-transform: uppercase;
            padding: 2rem;
            text-align: center;
        }
    }
    .footer-end {
        background-color: $primary-color;
        color: $primary-link-color;
        margin-top: 3rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        .cols {
            display: flex;
            gap: 2rem;
            a {
                color: $primary-link-color;
                text-decoration: none;
            }
            a:hover {
                color: $white;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .navbar:first-child {
        width: 100vw;
    }

    .header {
        .navbar-light {
            .nav-item {
            }
            display: none;
        }
        .brand-title {
            .letter {
                font-size: 5rem;
            }
        }
        .link {
            position: relative;
        }
    }
    .container {
        width: 100vw;
    }

    .content {
        .tab {
            .tab-menu {
                flex-wrap: wrap;
            }
            .tab-content {
                img {
                    width: 100vw;
                }
            }
        }
        .lookbook {
            flex-wrap: wrap;
            .lookbook-item {
                .caption {
                    padding: 1rem;
                }
                img {
                    width: 100vw;
                }
            }
        }
    }

    .footer {
        .tabs {
            flex-wrap: wrap;
        }
        .social {
            width: 100%;
            flex-wrap: wrap;
            .tab {
                width: 100vw;
                font-size: 1.3rem;
            }
            .tab:nth-child(2) {
                width: 100%;
            }
        }
        .footer-end {
            margin-top: 0;
        }
    }
}
