
        <div class="footer">
            <div class="tabs">
                <div class="tab">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#">The brand</a></li>
                        <li><a href="#">Lcoal stores</a></li>
                        <li><a href="#">Customer service</a></li>
                        <li><a href="#">Privacy & cookies</a></li>
                        <li><a href="#">Site map</a></li>
                    </ul>
                </div>

                <div class="tab">
                    <h3>Why Buy from us</h3>
                    <ul>
                        <li><a href="#">Shipping & returns</a></li>
                        <li><a href="#">Secure shopping</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Award winning</a></li>
                        <li><a href="#">Ethical trading</a></li>
                    </ul>
                </div>
                <div class="tab">
                    <h3>Your Account</h3>
                    <ul>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">View cart</a></li>
                        <li><a href="#">View your lookbook</a></li>
                        <li><a href="#">Track an order</a></li>
                        <li><a href="#">Update infromation</a></li>
                    </ul>
                </div>
                <div class="tab">
                    <h3>Lookbook</h3>
                    <ul>
                        <li><a href="#">Latest posts</a></li>
                        <li><a href="#">Men's lookbook</a></li>
                        <li><a href="#">Women's lookbook</a></li>
                        <li><a href="#">Lookbooks RSS feed</a></li>
                        <li><a href="#">View your lookbook</a></li>
                        <li><a href="#">Delete your lookbook</a></li>
                    </ul>
                </div>

            </div>
            <div class="social">

                <div class="tab">
                    <h2>Award winner <br> fashion awards 2016</h2>
                </div>
                <div class="tab">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                </div>
            </div>

            <div class="footer-end">
                <div class="col">
                    &copy;2022 Avenue Fashion
                </div>
                <div class="cols">
                    <div class="item">
                        <a href="#">Design by RobbyDesign.com</a>
                    </div>
                    <div class="item">
                        <a href="#">Dev by Loremipsum.com</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="javascripts/scripts.js"></script>
</body>

</html>