<div class="header">
    


    <div class="brand-title">
        <div class="letter">A</div>
        <div class="letter">V</div>
        <div class="letter">E</div>
    </div>
    <div>
        <a href="" class="link">shop men's collection</a>
    </div>

</div>