<div class="header header2">
    <div class="brand-title">
        <div class="letter">A</div>
        <div class="letter">V</div>
        <div class="letter">E</div>
    </div>
    <div class="brand-slogan">
        <h1><%- subtitle %></h1>
        <h2><%- subtitle2 %></h2>
    </div>

</div>